[printer]
kinematics: corexy
max_velocity: 500 
max_accel: 10000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0


#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
enable_pin: !sb2040:gpio7
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 13.088336
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_cross_section: 1.0
heater_pin: sb2040:gpio6
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: sb2040:gpio27
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
pressure_advance: 0.06

[filament_switch_sensor filament_sensor]
switch_pin: ^sb2040:gpio25
pause_on_runout: True

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Thermistors
#####################################################################

[temperature_sensor toolhead]
sensor_type: Generic 3950
sensor_pin: sb2040:gpio26
min_temp: -50
max_temp: 200

[temperature_sensor frame]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF5
gcode_id: frame

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^sb2040:gpio28
x_offset: 0
y_offset: 0
speed: 5
lift_speed: 30
samples: 2 
samples_result: average
sample_retract_dist: 2
samples_tolerance: 0.0025
samples_tolerance_retries: 5
activate_gcode:
    {% set PROBE_TEMP = 180 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
# 	Homing, Gantry Adjustment Routines and Bed Mesh
#####################################################################

[idle_timeout]
timeout: 1800
gcode:
  {% if printer.pause_resume.is_paused %}
  M104 S0
  {% else %}
  TURN_OFF_HEATERS
  M84
  {% endif %}

[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}




[bed_mesh]
speed: 500
horizontal_move_z: 2
mesh_min: 10,10
mesh_max: 240,240
probe_count: 5,5
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0

[quad_gantry_level]
gantry_corners:
   -60,-10
   310, 320
points:
   50,50
   50,200
   200,200
   200,50
speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.02

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan
pin: sb2040:gpio13
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan
pin: sb2040:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

[heater_fan controller_fan1]
##	Controller fan1
pin: PD12
kick_start_time: 0.5
heater: extruder
heater_temp: 170.0

[heater_fan controller_fan2]
##	Controller fan2
pin: PD13
kick_start_time: 0.5
heater: extruder
heater_temp: 170.0

[fan_generic nevermore_fan]
pin: PD14

[fan_generic exhaust_fan]
pin: PD15

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 256
position_max: 256
homing_speed: 60
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 150

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 253
position_max: 253
homing_speed: 60
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 100


#####################################################################
# 	Extruder Stepper Settings
#####################################################################

##	E0 on MOTOR6
[tmc2209 extruder]
uart_pin: sb2040:gpio8
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: !sb2040:gpio29
position_max: 210
position_min: -5
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.5

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
# 	Displays & LEDs
#####################################################################

[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
##	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 1.0
color_order: RGB

[neopixel extruder]
pin: sb2040:gpio12
chain_count: 3

[multi_pin light]
pins: PB10, PB11

[led light]
white_pin: multi_pin:light
initial_WHITE: 1.0

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode startup]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3
        SET_LED LED=extruder RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=extruder RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=extruder RED=1 GREEN=1 BLUE=1 INDEX=3
    LOAD_OFFSET

#####################################################################
# 	ADXL
#####################################################################

[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,30

[menu __main __octoprint]
type: disabled

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"